/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #000;
}
header nav {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
}
header nav a {
  color: #e1e3e6;
}
header .logo img {
  width: 40px;
}
header .logo h1 {
  color: #e1e3e6;
}
footer {
  background: #000;
}
footer nav a {
  color: #e1e3e6;
}
.cover-image {
  margin-top: 10px;
}
.cover-image img {
  width: 1000px;
  height: 250px;
}
.display {
  border: 3px solid black;
  background: black;
  display: flex;
  justify-content: space-between;
}
.display img {
  width: 325px;
}
.collage {
  display: flex;
  margin: 5px 0px;
}
.collage div {
  display: flex;
  flex-direction: column;
}
.collage .one img {
  height: 150px;
}
.collage .five img {
  height: 150px;
}
.collage img {
  width: 100%;
}
.collage .shoes2 {
  height: 158px;
}
.collage .shoes4 {
  height: 218px;
}
.collage .shoes5 {
  height: 200px;
}
.collage .shoes6 {
  height: 250px;
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
